<div ng-if="show.categories">
	<md-subheader class="md-primary">Public</md-subheader>
	<div layout="row" layout-margin flex layout-align="center center" layout-wrap ng-if="show.categories">
		<!-- All Records -->
		<md-card ng-repeat="category in public | filter:toolbar.userInput | orderBy:'name'" class="fade-transition" flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="25" ng-if="show.categories && !category.groups.length">
			<md-card-content ng-click="viewCategory(category.id)">
				<div layout="row" layout-align="center center" layout-padding class="card-category-image">		
					<div class="circle" layout="row" layout-align="center center"></div>
				</div>
				<h2 class="md-headline">{{category.name}}</h2>
				<p class="md-body-1"> <span ng-if="!category.groups.length">Public</span> <span ng-repeat="group in category.groups">{{group.name}} |</span></p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button class="md-icon-button" ng-if="user" ng-click="viewDescription(category.description)">
					<md-icon class="mdi mdi-information mdi-24px" ng-click="details(category.id)"></md-icon>
					<md-tooltip>Details</md-tooltip>
				</md-button>
				<md-button class="md-icon-button" ng-if="user.role != 'guest'">
					<md-icon class="mdi mdi-pencil mdi-24px" ng-click="editFolder(category.id)"></md-icon>
					<md-tooltip>Edit</md-tooltip>
				</md-button>
				<md-button class="md-icon-button" ng-if="user.role != 'guest' && !category.documents.length" ng-click="deleteCategory(category.id)">
					<md-icon class="mdi mdi-delete mdi-24px"></md-icon>
					<md-tooltip>Delete</md-tooltip>
				</md-button>
			</md-card-actions>
		</md-card>
	</div>
	
	<div ng-repeat="group in private | filter:toolbar.userInput | orderBy:'name'" ng-if="group.categories.length">
		<md-subheader class="md-primary">{{group.name}}</md-subheader>
		<div layout="row" layout-margin flex layout-align="center center" layout-wrap>
			<md-card class="fade-transition" flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="25" ng-repeat="category in group.categories">
				<md-card-content ng-click="viewCategory(category.id)">
					<div layout="row" layout-align="center center" layout-padding class="card-category-image">		
						<div class="circle" layout="row" layout-align="center center"></div>
					</div>
					<h2 class="md-headline">{{category.name}}</h2>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" ng-if="user" ng-click="viewDescription(category.description)">
						<md-icon class="mdi mdi-information mdi-24px" ng-click="details(category.id)"></md-icon>
						<md-tooltip>Details</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" ng-if="user">
						<md-icon class="mdi mdi-pencil mdi-24px" ng-click="editFolder(category.id)"></md-icon>
						<md-tooltip>Edit</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" ng-if="user.role != 'guest' && !category.documents.length" ng-click="delete(category.id)">
						<md-icon class="mdi mdi-delete mdi-24px"></md-icon>
						<md-tooltip>Delete</md-tooltip>
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>

<div ng-if="result && !show.categories"> 
	<!-- Public -->
	<md-subheader class="md-primary">Public</md-subheader>
	<div layout="row" layout-margin flex layout-align="center center" layout-wrap class="fade-transition">
		<md-card ng-repeat="item in result.public | filter:toolbar.userInput | orderBy:'file_name'" ng-if="!item.category.groups.length" class="fade-transition"  flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="20">
			<md-card-content ng-click="openFile(item.document_id, item.category_id)">
				<div layout="row" layout-align="center center" layout-padding class="card-file-image">		
					<div class="circle" layout="row" layout-align="center center"></div>
				</div>
				<h2 class="md-headline">{{item.file_name}}</h2>
				<p class="md-body-1">{{item.category.name}}</p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center" ng-if="user.role != 'guest'">
				<md-button class="md-icon-button">
					<md-icon class="mdi mdi-pencil mdi-24px" ng-click="edit(item.document_id)"></md-icon>
					<md-tooltip>Edit</md-tooltip>
				</md-button>
				<md-button class="md-icon-button" ng-click="delete(item.document_id)">
					<md-icon class="mdi mdi-delete mdi-24px"></md-icon>
					<md-tooltip>Delete</md-tooltip>
				</md-button>
			</md-card-actions>
		</md-card>
	</div>
	<!-- Private -->
	<div ng-repeat="group in result.groups" ng-if="group.documents.length">	
		<md-subheader class="md-primary">{{group.name}}</md-subheader>
		<div layout="row" layout-margin flex layout-align="center center" layout-wrap class="fade-transition">
			<md-card ng-repeat="item in group.documents | filter:toolbar.userInput | orderBy:'file_name'" class="fade-transition" flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="20">
				<md-card-content ng-click="openFile(item.document_id, item.category_id)">
					<div layout="row" layout-align="center center" layout-padding class="card-file-image">		
						<div class="circle" layout="row" layout-align="center center"></div>
					</div>
					<h2 class="md-headline">{{item.file_name}}</h2>
					<p class="md-body-1">{{item.category.name}}</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center" ng-if="user.role != 'guest'">
					<md-button class="md-icon-button">
						<md-icon class="mdi mdi-pencil mdi-24px" ng-click="edit(item.document_id)"></md-icon>
						<md-tooltip>Edit</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" ng-click="delete(item.document_id)">
						<md-icon class="mdi mdi-delete mdi-24px"></md-icon>
						<md-tooltip>Delete</md-tooltip>
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>