<div layout="row" layout-margin flex flex-gt-md="70" layout-align="center start" layout-wrap class="fade-transition" ng-if="document.show" infinite-scroll='document.paginateLoad()' infinite-scroll-distance="2" infinite-scroll-disabled="document.busy" infinite-scroll-parent>
	<!-- All Records -->
	<md-card ng-repeat="document in document.paginated | filter:toolbar.userInput | orderBy:'name'" class="fade-transition" flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="20">
		<md-card-content ng-click="openFile(document.id)">
			<div layout="row" layout-align="center center" layout-padding class="card-file-image">		
				<div class="circle" layout="row" layout-align="center center"></div>
			</div>
			<h2 class="md-headline">{{document.file_name}}</h2>
			<!-- <p class="md-body-1">{{document.created_at_formatted}}</p> -->
<!-- 			<div layout="row" layout-align="end center">
				<md-switch ng-model="document.showTags" aria-label="Show Tags" ng-if="user">
				    <span ng-if="!document.showTags">Show</span>
				    <span ng-if="document.showTags">Hide</span>
				     Tags
			    </md-switch>
			</div>
			<md-chips ng-model="document.tags" readonly="true" ng-if="document.showTags"></md-chips>
 -->		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<!-- <md-button class="md-icon-button">
				<md-icon class="mdi mdi-open-in-new mdi-24px"></md-icon>
				<md-tooltip>Open</md-tooltip>
			</md-button> -->
			<md-button class="md-icon-button" ng-if="user">
				<md-icon class="mdi mdi-pencil mdi-24px" ng-click="edit(document.id)"></md-icon>
				<md-tooltip>Edit</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-if="user" ng-click="delete(document.id)">
				<md-icon class="mdi mdi-delete mdi-24px"></md-icon>
				<md-tooltip>Delete</md-tooltip>
			</md-button>
		</md-card-actions>
	</md-card>
</div>
<div layout="row" layout-margin flex flex-gt-md="70" layout-align="center start" layout-wrap class="fade-transition" ng-if="document.results && !document.show">
	<!-- Search Records -->
	<md-card ng-repeat="item in document.results | filter:toolbar.userInput | orderBy:'name'" class="fade-transition"  flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="20">
		<md-card-content>
			<div layout="row" layout-align="center center" layout-padding class="card-file-image" ng-click="openFile(document.id)">		
				<div class="circle" layout="row" layout-align="center center"></div>
			</div>
			<h2 class="md-headline">{{item.file_name}}</h2>
			<!-- <p class="md-body-1">{{item.created_at_formatted}}</p> -->
			<!-- <div layout="row" layout-align="end center">
				<md-switch ng-model="item.showTags" aria-label="Show Tags" ng-if="user">
				    <span ng-if="!document.showTags">Show</span>
				    <span ng-if="document.showTags">Hide</span>
				    Tags
			    </md-switch>
			</div>
			<md-chips ng-model="item.tags" readonly="true" ng-if="item.showTags"></md-chips> -->
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<!-- <md-button class="md-icon-button" ng-click="openFile(item.id)">
				<md-icon class="mdi mdi-open-in-new mdi-24px"></md-icon>
				<md-tooltip>Open</md-tooltip>
			</md-button> -->
			<md-button class="md-icon-button" ng-if="user">
				<md-icon class="mdi mdi-pencil mdi-24px" ng-click="edit(item.id)"></md-icon>
				<md-tooltip>Edit</md-tooltip>
			</md-button>
			<md-button class="md-icon-button" ng-if="user" ng-click="delete(item.id)">
				<md-icon class="mdi mdi-delete mdi-24px"></md-icon>
				<md-tooltip>Delete</md-tooltip>
			</md-button>
		</md-card-actions>
	</md-card>
</div>