<section layout="row" flex class="full-height-min">
	<!-- <md-sidenav class="md-sidenav-left full-height-max md-whiteframe-1dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout="column" flex="5">
		<md-toolbar class="site-logo" layout="row" layout-align="center center">
			<a ui-sref="main" layout="row" layout-align="center center">
				<img src="/assets/img/Personiv-icon_large-white.png" alt="Personiv Logo">
			</a>
		</md-toolbar>
		<md-content layout="column" layout-align="space-between center" flex class="primary-bg">
			Sidenav
			<div class="full-width-min" ui-view="left-sidenav" flex id="left-sidenav"></div>
		</md-content>
	</md-sidenav> -->
	<!-- Content Container -->
	<md-content flex layout="column" class="full-height-max content-container" ui-view="content-container"></md-content>
</section>